.newRulePage {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.info {
    display: flex;
    margin: 0.5em 0;
    height: 2em;
}

.label {
    margin: 0 0.25em;
    display: flex;
    align-items: center;
}

.playerId {
    flex: 0 0 15em;
}

.shortDescription {
    flex: 1;
}

.playerId, .shortDescription {
    display: flex;
}

.playerId > input, .shortDescription > input {
    margin: 0 0.25em;
    flex: 1;
}

.editor {
    flex-grow: 1;
    height: 0;
}

.error {
    color: red;
}

button {
    font-size: large;
    text-transform: uppercase;
}
