.newRulePage {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.editor {
    flex-grow: 1;
    height: 0;
}

.error {
    color: red;
}

button {
    font-size: large;
    text-transform: uppercase;
}
